@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

.app {
    display: grid;
    place-content: center;
}

.colorBox {
    width: 370px;
    height: 250px;
    border-radius: 15px;
}

.options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.result {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.correct {
    color: green;
}

.incorrect {
    color: red
}

.button {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}