*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    background: url(./assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


#root {
    display: grid;
    place-content: center;
    height: 100dvh;
    font-family: "Poppins", sans-serif;
}